<h1>SVG from wireframe</h1>

<canvas #canvas width="800" height="600"></canvas>

<button (click)="toggleSvgVisible()">toggle svg visible</button>
<button (click)="toggleContinuousRender()">toggle continuous render</button>
<button *ngIf="!continuousRender$.value" (click)="triggerRender()">trigger render</button>

<ng-container *ngIf="svgVisible">
  <ng-container *ngIf="svg$ | async as url">
    <img [src]="url | safeUrl" alt="" />
    <button (click)="saveSvg(url)">save svg</button>
  </ng-container>
</ng-container>
