<h1>SVG from wireframe</h1>

<canvas #canvas></canvas>

<button (click)="toggleSvgVisible()">toggle svg visible</button>
<button (click)="toggleContinuousRender()">toggle continuous render</button>
<button *ngIf="!continousRender$.value" (click)="triggerRender()">trigger render</button>
<pre highlight="">lineCount$: {{lineCount$|async|json}}</pre>

<ng-container *ngIf="svgVisible">

  <ng-container *ngIf="svg$ | async as url">
    <img [src]="url" alt="">
    <button (click)="saveSvg(url)">save svg</button>
  </ng-container>

</ng-container>


